@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.GetCurrentRequestProtocol());
}
<div class="page login-page">
    @* <div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div> *@
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.LoginTop, additionalData = Model })
       <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            
            <main class="login-pg">
                <div class="login-af-area">
                    <div class="login-box-area">
                        <div class="logo-section">
                            <img src="./Themes/DefaultClean/Content/images/logo.png" class="" />
                        </div>
                        <div class="form-section">
                            <h3>Login</h3>
                            <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                            <span asp-validation-for="Password"></span>
                            <div class="form-group icon-inputbox">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70337 5.83333H26.2967C26.9363 5.83331 27.4883 5.8333 27.9452 5.86446C28.4261 5.89729 28.9072 5.96948 29.3827 6.16635C30.4545 6.61039 31.3063 7.4621 31.7503 8.53409C31.9471 9.0094 32.0193 9.49052 32.0523 9.97152C32.0833 10.4284 32.0833 10.9803 32.0833 11.62V23.38C32.0833 24.0196 32.0833 24.5716 32.0523 25.0285C32.0193 25.5095 31.9471 25.9906 31.7503 26.466C31.3063 27.5379 30.4545 28.3897 29.3827 28.8336C28.9072 29.0305 28.4261 29.1026 27.9452 29.1356C27.4883 29.1667 26.9363 29.1667 26.2967 29.1667H8.70335C8.06366 29.1667 7.51171 29.1667 7.05487 29.1356C6.57387 29.1026 6.09275 29.0305 5.61743 28.8336C4.54544 28.3897 3.69373 27.5379 3.2497 26.466C3.05282 25.9906 2.98063 25.5095 2.94781 25.0285C2.91664 24.5716 2.91666 24.0196 2.91667 23.38V11.62C2.91666 10.9803 2.91664 10.4284 2.94781 9.97152C2.98063 9.49052 3.05282 9.0094 3.2497 8.53409C3.69373 7.4621 4.54544 6.61039 5.61743 6.16635C6.09275 5.96948 6.57387 5.89729 7.05487 5.86446C7.51171 5.8333 8.06367 5.83331 8.70337 5.83333ZM6.29629 9.15508C6.82667 8.54895 7.74798 8.48753 8.35413 9.01789L16.5397 16.1802C17.0895 16.6613 17.9105 16.6613 18.4603 16.1802L26.6459 9.01789C27.252 8.48753 28.1734 8.54895 28.7037 9.15508C29.234 9.76122 29.1726 10.6825 28.5666 11.2129L20.3809 18.3753C18.7314 19.8186 16.2686 19.8186 14.6191 18.3753L6.43349 11.2129C5.82735 10.6825 5.76592 9.76122 6.29629 9.15508Z" fill="#77777A" />
                                </svg>
                                <input asp-for="Email" class="email" autofocus="autofocus" />
                                <span asp-validation-for="Email" p="Email"></span>
                            </div>
                            <div class="form-group icon-inputbox">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="38" viewBox="0 0 31 38" fill="none">
                                    <path d="M26.5464 16.9146H4.57887C3.60872 16.9175 2.67911 17.3041 1.99311 17.9901C1.30711 18.6761 0.920458 19.6057 0.917618 20.5759V33.7564C0.920458 34.7265 1.30711 35.6561 1.99311 36.3421C2.67911 37.0281 3.60872 37.4148 4.57887 37.4176H26.5464C27.5165 37.4148 28.4461 37.0281 29.1321 36.3421C29.8181 35.6561 30.2048 34.7265 30.2076 33.7564V20.5759C30.2048 19.6057 29.8181 18.6761 29.1321 17.9901C28.4461 17.3041 27.5165 16.9175 26.5464 16.9146ZM9.71463 27.9335C9.80644 27.9862 9.88694 28.0565 9.95154 28.1404C10.0161 28.2243 10.0635 28.3201 10.0911 28.4224C10.1186 28.5246 10.1256 28.6313 10.1119 28.7363C10.0981 28.8413 10.0638 28.9425 10.0108 29.0342C9.95788 29.1259 9.88737 29.2062 9.80332 29.2706C9.71928 29.335 9.62336 29.3822 9.52106 29.4095C9.41875 29.4368 9.31207 29.4436 9.20712 29.4296C9.10217 29.4156 9.00102 29.381 8.90944 29.3279L7.58082 28.5608V30.0952C7.58082 30.3087 7.49599 30.5135 7.34498 30.6645C7.19398 30.8155 6.98918 30.9004 6.77563 30.9004C6.56208 30.9004 6.35727 30.8155 6.20627 30.6645C6.05527 30.5135 5.97044 30.3087 5.97044 30.0952V28.5608L4.64181 29.3279C4.45693 29.4341 4.23747 29.4626 4.03159 29.4072C3.8257 29.3518 3.65019 29.217 3.54358 29.0324C3.43696 28.8477 3.40794 28.6283 3.46288 28.4223C3.51782 28.2163 3.65223 28.0405 3.83663 27.9335L5.16561 27.1662L3.83663 26.3989C3.65223 26.2919 3.51782 26.1161 3.46288 25.91C3.40794 25.704 3.43696 25.4846 3.54358 25.3C3.65019 25.1154 3.8257 24.9806 4.03159 24.9251C4.23747 24.8697 4.45693 24.8983 4.64181 25.0045L5.97044 25.7716V24.2372C5.97044 24.0236 6.05527 23.8188 6.20627 23.6678C6.35727 23.5168 6.56208 23.432 6.77563 23.432C6.98918 23.432 7.19398 23.5168 7.34498 23.6678C7.49599 23.8188 7.58082 24.0236 7.58082 24.2372V25.7716L8.90944 25.0045C9.09432 24.8983 9.31378 24.8697 9.51967 24.9251C9.72556 24.9806 9.90106 25.1154 10.0077 25.3C10.1143 25.4846 10.1433 25.704 10.0884 25.91C10.0334 26.1161 9.89903 26.2919 9.71463 26.3989L8.38564 27.1662L9.71463 27.9335ZM18.5016 27.9335C18.5934 27.9862 18.6739 28.0565 18.7385 28.1404C18.8031 28.2243 18.8505 28.3201 18.8781 28.4224C18.9056 28.5246 18.9126 28.6313 18.8989 28.7363C18.8851 28.8413 18.8508 28.9425 18.7978 29.0342C18.7449 29.1259 18.6744 29.2062 18.5903 29.2706C18.5063 29.335 18.4104 29.3822 18.3081 29.4095C18.2058 29.4368 18.0991 29.4436 17.9941 29.4296C17.8892 29.4156 17.788 29.381 17.6964 29.3279L16.3678 28.5608V30.0952C16.3678 30.3087 16.283 30.5135 16.132 30.6645C15.981 30.8155 15.7762 30.9004 15.5626 30.9004C15.3491 30.9004 15.1443 30.8155 14.9933 30.6645C14.8423 30.5135 14.7574 30.3087 14.7574 30.0952V28.5608L13.4288 29.3279C13.2439 29.4341 13.0245 29.4626 12.8186 29.4072C12.6127 29.3518 12.4372 29.217 12.3306 29.0324C12.224 28.8477 12.1949 28.6283 12.2499 28.4223C12.3048 28.2163 12.4392 28.0405 12.6236 27.9335L13.9526 27.1662L12.6236 26.3989C12.4392 26.2919 12.3048 26.1161 12.2499 25.91C12.1949 25.704 12.224 25.4846 12.3306 25.3C12.4372 25.1154 12.6127 24.9806 12.8186 24.9251C13.0245 24.8697 13.2439 24.8983 13.4288 25.0045L14.7574 25.7716V24.2372C14.7574 24.0236 14.8423 23.8188 14.9933 23.6678C15.1443 23.5168 15.3491 23.432 15.5626 23.432C15.7762 23.432 15.981 23.5168 16.132 23.6678C16.283 23.8188 16.3678 24.0236 16.3678 24.2372V25.7716L17.6964 25.0045C17.8813 24.8983 18.1008 24.8697 18.3067 24.9251C18.5126 24.9806 18.6881 25.1154 18.7947 25.3C18.9013 25.4846 18.9303 25.704 18.8754 25.91C18.8204 26.1161 18.686 26.2919 18.5016 26.3989L17.1726 27.1662L18.5016 27.9335ZM27.2886 27.9335C27.3804 27.9862 27.4609 28.0565 27.5255 28.1404C27.5901 28.2243 27.6375 28.3201 27.6651 28.4224C27.6926 28.5246 27.6996 28.6313 27.6859 28.7363C27.6721 28.8413 27.6378 28.9425 27.5848 29.0342C27.5319 29.1259 27.4614 29.2062 27.3773 29.2706C27.2933 29.335 27.1974 29.3822 27.0951 29.4095C26.9928 29.4368 26.8861 29.4436 26.7811 29.4296C26.6762 29.4156 26.575 29.381 26.4834 29.3279L25.1548 28.5608V30.0952C25.1548 30.3087 25.07 30.5135 24.919 30.6645C24.768 30.8155 24.5632 30.9004 24.3496 30.9004C24.1361 30.9004 23.9313 30.8155 23.7803 30.6645C23.6293 30.5135 23.5444 30.3087 23.5444 30.0952V28.5608L22.2158 29.3279C22.0309 29.4341 21.8115 29.4626 21.6056 29.4072C21.3997 29.3518 21.2242 29.217 21.1176 29.0324C21.011 28.8477 20.9819 28.6283 21.0369 28.4223C21.0918 28.2163 21.2262 28.0405 21.4106 27.9335L22.7396 27.1662L21.4106 26.3989C21.2262 26.2919 21.0918 26.1161 21.0369 25.91C20.9819 25.704 21.011 25.4846 21.1176 25.3C21.2242 25.1154 21.3997 24.9806 21.6056 24.9251C21.8115 24.8697 22.0309 24.8983 22.2158 25.0045L23.5444 25.7716V24.2372C23.5444 24.0236 23.6293 23.8188 23.7803 23.6678C23.9313 23.5168 24.1361 23.432 24.3496 23.432C24.5632 23.432 24.768 23.5168 24.919 23.6678C25.07 23.8188 25.1548 24.0236 25.1548 24.2372V25.7716L26.4834 25.0045C26.6683 24.8983 26.8878 24.8697 27.0937 24.9251C27.2996 24.9806 27.4751 25.1154 27.5817 25.3C27.6883 25.4846 27.7173 25.704 27.6624 25.91C27.6074 26.1161 27.473 26.2919 27.2886 26.3989L25.9596 27.1662L27.2886 27.9335Z" fill="#77777A" />
                                    <path d="M7.58081 9.59219C7.58081 7.47528 8.42175 5.44508 9.91863 3.9482C11.4155 2.45132 13.4457 1.61038 15.5626 1.61038C17.6795 1.61038 19.7097 2.45132 21.2066 3.9482C22.7035 5.44508 23.5444 7.47528 23.5444 9.59219V15.3036H25.1548V9.59219C25.1548 7.04818 24.1442 4.60837 22.3453 2.80949C20.5464 1.0106 18.1066 0 15.5626 0C13.0186 0 10.5788 1.0106 8.77992 2.80949C6.98103 4.60837 5.97043 7.04818 5.97043 9.59219V15.3036H7.58081V9.59219Z" fill="#77777A" />
                                </svg>
                                <input asp-for="Password" class="password" />
                              
                            </div>
                            <div class="form-group links-area-box">
                                <div class="remember-box">
                                    <input asp-for="RememberMe" />
                                    <label asp-for="RememberMe"></label>
                                </div>
                                <div class="forgot-box">
                                    <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <nop-captcha />
                            }

                           
                            <button type="submit" class="form-main-btn login-btn">@T("Account.Login.LoginButton")</button>
                        </div>
                    </div>
                </div>
            </main>
        </form>
        @* <div class="external-authentication">
        @await Component.InvokeAsync(typeof(ExternalMethodsViewComponent), "ExternalAuthentication")
        </div>
        @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "LoginRegistrationInfo" }) *@
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.LoginBottom, additionalData = Model })
    </div>
</div>